.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1,
h2 {
  color: #333;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin: 5px 0;
}

.intro {
  text-align: left;
}

h1 {
  color: #555;
  font-size: 36px;
}

p {
  color: #555;
  font-size: 18px;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
